
<div class="col-lg-3 col-md-3 module-left">
    <div class="width100">
        <h3 class="heading-module">@Model.Noidung</h3>
        <div class="box-content">
        <p>
            <iframe frameborder="0" height="200" scrolling="no" src=@Model.Video width="100%">
                #document
            </iframe>
        </p>
    </div>
</div>
<div class="width100">
    <h3 class="heading-module">
        <i class="fa fa-microphone"></i>
        Hỗ trợ trực tuyến
    </h3>
    <div class="box-content">
        <ul style="list-style:none;padding:10px;background:#f5f5f5">
            @foreach (var item in Model.NVHT)
            {
                <li>
                    <div class="img-sp">
                        <img src=@item.Anh alt=@item.ChucDanh style="width: 100px;min-height: 80px;">
                    </div>
                    <p style="font-weight: bold;color: #007ABF;padding-bottom: 0" class="title">@item.ViTri</p>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 20px;"><img border="0" alt="Phương Thu" src="~/Content/Picture/yahoo-icon.png" style="border: 0; margin: 1px;"></td>
                                <td><b>@item.ChucDanh</b></td>
                            </tr>
                            <tr>
                                <td style="width: 20px;"><img border="0" alt="Phương Thu" src="~/Content/Picture/skype-icon.png" style="border: 0; margin: 1px;"></td>
                                <td style="font-size:11px;">@item.SDT</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <div class="clearfix" style="margin: 3px 0;"></div>
            }
        </ul>
    </div>
</div>
<div class="width100">
    <h3 class="heading-module">
        <i class="fa fa-fire"></i>
        Danh mục Tour
    </h3>
    <div class="box-content">
        @foreach(var item in Model.ListMenu)
        {
            if(item.TenMenuCha == "Tour du lịch")
            {
            <div class="nav-item-list">
                <div class="cat-item"><a href="">@item.TenMenu</a></div>
                <ul class="item-list">
                @foreach (var item1 in Model.ListMenu)
                {
                    if (item1.TenMenuCha == item.TenMenu)
                    {
                        <li><a title=@item1.TenMenu href="http://localhost:53953/Home/Index?id=@item1.idMenu">@item1.TenMenu</a></li>
                    }
                }
                </ul>
            </div>
            }
        }
    </div>
</div>
<div class="width100">
    <h3 class="heading-module">CHƯƠNG TRÌNH TỪ THIỆN </h3>
    <div class="box-content">
        <p><img alt="Chương trình từ thiện" src="~/Content/Picture/tuan-nguyen-travel-trung-thu-2017.jpg" style="height:1000px; width:1000px"></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

    </div><!--box-content-->
</div>
</div>

